<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
            featureRequirements={
            "parameters":{
                "decisionModel": "realestate",
                "page":1
            },
            "featureRequirements":{
                "offer_type":{
                    "value": "koop",
                    "priority": "must-have"
                },
                "energy_label":{
                    "value": "C",
                    "priority": "could-have"
                },
                "number_of_rooms":{
                    "value": "3",
                    "priority": "should-have"
                },
                "volume_in_cubic_meters":{
                    "value": "100",
                    "priority": "must-have"
                },
                "number_of_bedrooms":{
                    "value": "3",
                    "priority": "should-have"
                },
                "asking_price":{
                    "value": "4000000",
                    "priority": "must-have"
                },
                "city":{
                    "value": "utrecht",
                    "priority": "must-have"
                }
            }
        }

    headers.append('Access-Control-Allow-Origin', 'http://localhost:3000');
    headers.append('Access-Control-Allow-Credentials', 'true');

    var url = "http://127.0.0.1:8000/DSS/listOfSolutions";
    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";
    axios({
    method: 'post',
    baseURL: window.location.origin,
    url: url,
    // adding auth header also gives same 403 error for post request
    // headers: {
    //     Authorization: 'Token e77b8ca898b51cde72dcf2aa2c385942d771e972'
    // },
        data: featureRequirements,
        responseType: 'json',
    })
        .then(function (response) {
            console.log(' success');
        })

        .catch(function (error) {
            console.log(' error=', error.message);
        });





    </script>

</body>
</html>